.text-color {
    color: #e15a50;
}

.icon-color {
    color: #e15a50;
}

.bg-color {
    background-color: #e15a50;
}

.bg-color-dark {
    background-color: #b14706;
}

.bg-color-light {
    background-color: #f5efef;
}

a.link-color,
i.link-color {
    color: #e15a50;
}

a.link-color:hover,
a.link-color:active,
a.link-color:focus,
i.link-color:hover,
i.link-color:active,
i.link-color:focus {
    color: #b14706;
}

.btn-color,
.inverse a.btn-color {
    background-color: #e15a50;
}

.btn-color:hover,
.btn-color:active,
.btn-color:focus {
    background-color: #b14706 !important;
}

.btn-border-color,
a.btn-border-color {
    color: #e15a50 !important;
    border-color: #e15a50;
}

.btn-border-color:hover,
.btn-border-color:active,
.btn-border-color:focus {
    color: #b14706 !important;
    border-color: #b14706;
}

.input-group .btn {
    color: #e15a50 !important;
}

.form-control:focus,
.form-control:focus + .input-group-btn .btn {
    border-color: #e15a50;
}

.error .form-control,
.error .btn {
    border-color: #e15a50 !important;
}

.message {
    color: #e15a50;
}

.message-icon {
    border-color: #e15a50;
}

.panel-color {
    border-color: #e15a50;
}

.panel-color > .panel-heading {
    background-color: #e15a50;
}

.panel-color.active > .panel-heading {
    color: #e15a50;
}

.tp-bannertimer {
    background-color: #e15a50;
}

.dark-version .rs-dot .tp-bullet.selected,
.dark-version .rs-dot .tp-bullet:hover {
    background-color: #e15a50;
}

.dark-version .owl-theme .owl-dots .owl-dot.active span,
.dark-version .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #e15a50;
}

.logo-color span {
    background-image: url("../../images/logo.png");
}

.ball-pulse-color > div {
    background-color: #e15a50;
}

.navbar-icon span {
    background-color: #e15a50;
}

.price-marker {
    background-color: #e15a50;
}

.speech-bubble-color {
    background-color: #e15a50;
}

.speech-bubble-color:after {
    border-color: #e15a50 transparent transparent;
}

.speech-bubble-light {
    background-color: #f7e4d9;
}

.speech-bubble-light:after {
    border-color: #f7e4d9 transparent transparent;
}

.circles-valueStroke {
    stroke: #e15a50;
}
